body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(45deg, #ffffff, #ffcc00, #ff0000, #ffffff);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  font-family: 'Silkscreen', sans-serif;
  font-display: swap; /* Ensure that text content is displayed using the fallback font while the desired font is loading */
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

#pokemonContainerWrapper {
  text-align: center; /* Center the content inside the wrapper */
  position: relative;
}

#pokemonLogo {
  max-width: 100%;
  height: 30%;
  position: absolute;
  top: -8%;
  left: 50%;
  filter: none;
  margin-top: 20px; /* Adjust the top margin as needed */
  animation: breathe 2s infinite ease-in-out; /* Adjust the duration and other properties as needed */
}

@keyframes breathe {
  0%, 100% {
      transform: translate(-50%, 0);
  }
  50% {
      transform: translate(-50%, -5px); /* Adjust the breathing effect - move up */
  }
}

#loading {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Set z-index to bring loading in front of the container */
  animation: breathe 2s infinite;
}

#pokemonContainer {
  margin-top: 150px; /* Add margin to the top of the container */
  height: 80vh;
  overflow-y: auto;
  display: block;
  background-color: rgb(0, 0, 0); /* Set the background color to dark gray when loaded */
}

#pokemonList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#pokemonList li {
  width: 200px; /* Adjust the width of each card */
  margin-bottom: 20px;
  opacity: 0.5;
  transition: opacity 0.5s ease;
  text-align: center;
  color: white;
  padding: 10px; /* Add padding for space inside the card */
  border-radius: 8px; /* Add border-radius for a rounded appearance */
}

#pokemonList li h5 {
  font-weight: bold;
  text-transform: capitalize;
  filter: blur(10px);
  transition: filter 0.5s ease;
}

#pokemonList li p {
  filter: blur(10px);
  transition: filter 0.5s ease;
}

#pokemonList li img {
  max-width: 100%; /* Make images responsive */
  height: auto;
  border-radius: 8px; /* Add border-radius for a rounded appearance */
  overflow: hidden;
}

#pokemonList li .card-description {
  max-height: 0; /* Set initial max-height to 0 for hiding the description */
  overflow: hidden;
  transition: max-height 0.5s ease; /* Add transition for max-height */
}

#pokemonList li .card-description.loaded {
  max-height: 200px; /* Set the maximum height of the description */
}

#pokemonList.loaded li {
  opacity: 1;
}

#pokemonContainer.loaded {
  background-color: rgb(27, 27, 27);
}

.card.loaded {
  background-color: rgba(71, 71, 71, 0.8);
  transition: background-color 0.5s ease, transform 0.3s ease; /* Adjusted for smooth transition */
  overflow: hidden;
  cursor: pointer;
}

.card.loaded:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.05);
  color: black;
  z-index: 1;
}

.card-container {
  position: relative;
  z-index: 1;
}

img {
  max-width: 100%;
  height: auto;
  filter: blur(10px);
  transition: filter 0.5s ease;
}

#pokemonList.loaded img {
  filter: none;
}

#pokemonList.loaded h5,
#pokemonList.loaded p {
  filter: none;
}
